.end {
    @media screen and (max-width: $mob) {
        @include margin-center;
        & .logo {
            padding-top: 60px;
            display: block;
            text-align: center;
            margin: 0px 15px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.03em;

            color: $button-color;
        }

        & .link.find {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            /* or 171% */
            letter-spacing: 0.03em;

            color: $col-wh;
        }

        & .link.footer {
            display: block;
            margin-top: 8px;
            text-align: center;
            text-decoration: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            /* or 171% */
            text-align: center;
            letter-spacing: 0.03em;

            color: rgba(255, 255, 255, 0.6);
        }

        & .footer-two {
            margin: 60px auto;
        }
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        & .logo {
            display: block;
            text-align: center;
            margin: 0px 15px;

            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            letter-spacing: 0.03em;

            color: $button-color;
        }

        & .link.find {
            display: block;
            margin-top: 20px;
            text-align: center;
            text-decoration: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            /* or 171% */
            letter-spacing: 0.03em;

            color: $col-wh;
        }

        & .link.footer {
            display: block;
            margin-top: 8px;
            text-align: center;
            text-decoration: none;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            /* or 171% */
            text-align: center;
            letter-spacing: 0.03em;

            color: rgba(255, 255, 255, 0.6);
        }

        & .edbox.ft {
            position: relative;
        }

        & .footer-two {
            position: absolute;
            top: 65px;
            right: calc(50% - 300px);

            display: inline-block;
        }

        & .footer-one {
            display: inline-block;
            margin-top: 60px;
            margin-bottom: 60px;
            margin-left: calc(50% - 300px);
            text-align: center;
        }
    }

    @media screen and (min-width: $desk) {
    height: 252px;

    & .link.find {
        display: block;
        margin-top: 20px;
    }
    
    & .ft {
    padding-top: 50px;
    width: var(--width-page);
    @include margin-center;
   // margin-left: auto;
   // margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    }
    }
}

.end.container {
    @media screen and (min-width: $mob) {

    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {

        & .mark {
        margin-top: 8px;
        }
    }

    @media screen and (min-width: $desk) {
        margin-top: 20px;
        height: 81px;
        margin-bottom: 60px;
    
        & .mark {
        margin-top: 9px;
        }
    }
}

.link.foot {
    @media screen and (max-width: $mob) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         background-color: rgba(255, 255, 255, 10%);
     
         &:hover {
         background-color: var(--button-color);
         color: $col-wh;
         } 
    }

    @media screen and (min-width: $tab) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         background-color: rgba(255, 255, 255, 10%);
     
         &:hover {
         background-color: var(--button-color);
         color: $col-wh;
         } 
    }

    @media screen and (min-width: $desk) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         background-color: rgba(255, 255, 255, 10%);
     
         &:hover {
         background-color: var(--button-color);
         color: #ffffff;
         } 
    }
}

footer form {
    @media screen and (max-width: $mob) {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0px 15px;
        padding-bottom: 60px;

        & label {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: auto;
        width: 100%;

        }


    & label input {
        display: block;

        padding: 16px 15px;
        width: 100%;
        height: 50px;
    
        background-color: inherit;
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        }
    
        & label span {
        text-align: center;
        margin-bottom: 20px;
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
        @include font(700, 14px, 16px, 0.03em);
       // font-weight: 700;
       // font-size: 14px;
       // line-height: 16px;
       // letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        }
    
        & button {
        @include center;
       // display: flex;
       // align-items: center;
       // justify-content: center;
    
    
        background-color: var(--button-color);
        color: $col-wh;
    
        margin-top: 20px;
        margin-left: 12px;
    
        width: 200px;
        height: 50px;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0px;
    
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
       @include font(700, 16px, 1.88, 0.06em);
       // font-weight: 700;
       // font-size: 16px;
       // line-height: 1.88;
       // /*30px*/
    
       
       // /* identical to box height, or 188% */
       // letter-spacing: 0.06em;
    
        cursor: pointer;
        }
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0px 15px;
        padding-bottom: 60px;

        & label {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: auto;
        width: 450px;
        }


    & label input {
        display: block;

        padding: 16px 15px;
        width: 100%;
        height: 50px;
    
        background-color: inherit;
        color: #ffffff;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        }
    
        & label span {
        text-align: center;
        margin-bottom: 20px;
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
        @include font(700, 14px, 16px, 0.03em);
       // font-weight: 700;
       // font-size: 14px;
       // line-height: 16px;
       // letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        }
    
        & button {
        @include center;
       // display: flex;
       // align-items: center;
       // justify-content: center;
    
    
        background-color: var(--button-color);
        color: $col-wh;
    
        margin-top: 20px;
        margin-left: 12px;
    
        width: 200px;
        height: 50px;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0px;
    
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
       @include font(700, 16px, 1.88, 0.06em);
       // font-weight: 700;
       // font-size: 16px;
       // line-height: 1.88;
       // /*30px*/
    
       
       // /* identical to box height, or 188% */
       // letter-spacing: 0.06em;
    
        cursor: pointer;
    }
}

    @media screen and (min-width: $desk) {
        display: flex;
        align-items: center;
    
        & label {
        display: flex;
        flex-direction: column;
        }
    
        & label input {
        padding: 16px 15px;

        width: 358px;
        height: 50px;
    
        background-color: inherit;
        color: $col-wh;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        }
    
        & label span {
        margin-right: auto; // ОСТАВЛЮ КОММЕНТ: ОЧЕРЕДНОЙ БАГ, ЕСЛИ УБРАТЬ, ЗНАЧЕНИЕ ПЕРЕЙДЕТ С ТАБЛЕТКИ - А НЕ ДОЛЖНО СОГЛАСНО ТОЧКАМ! ЕЩЁ ОДИН КОСТЫЛЬ
        margin-bottom: 20px;
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
        @include font(700, 14px, 16px, 0.03em);
       // font-weight: 700;
       // font-size: 14px;
       // line-height: 16px;
       // letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #FFFFFF;
        }
    
        & button {
        @include center;
       // display: flex;
       // align-items: center;
       // justify-content: center;
    
    
        background-color: var(--button-color);
        color: #FFFFFF;
    
        margin-top: 36px;
        margin-left: 12px;
    
        width: 200px;
        height: 50px;
    
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: 0px;
    
        @include font-famstyl;
       // font-family: 'Roboto';
       // font-style: normal;
       @include font(700, 16px, 1.88, 0.06em);
       // font-weight: 700;
       // font-size: 16px;
       // line-height: 1.88;
       // /*30px*/
    
       // /* identical to box height, or 188% */
       // letter-spacing: 0.06em;
    
        cursor: pointer;
        }
    }
}

.subsicon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    fill: $col-wh;
}

.subscribe {
    @media screen and (max-width: $mob) {
        & .form {
            @include margin-center;
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }

    @media screen and (min-width: $desk) {
        margin-top: 10px;
    }
}

.edbox {
    @media screen and (min-width: $desk) {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 70px;
    }
}

.cont.foot {
    @media screen and (max-width: $mob) {
        @include center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
         flex-direction: row;
         gap: 10px;
         margin-bottom: 30px;
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        @include center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
         flex-direction: row;
         gap: 10px;
         margin-bottom: 30px;
    }

    @media screen and (min-width: $desk) {
        @include center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
         flex-direction: row;
         gap: 10px;
         margin-bottom: 30px;
    }
}

.icon.foot {
    height: 20px;
    width: 20px;
    fill: $col-wh;
}
