.section.make {
    @media screen and (max-width: $mob) {
        display: none;
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        display: none;
    }

    @media screen and (min-width: $desk) {
        & .mk {
            padding-left: 15px;
            padding-right: 15px;
            }
        
            & .title.second {
            margin-bottom: 50px;
            }
    }
}

.photo {
    @media screen and (min-width: $desk) {
        @include center;
        // display: flex;
        // align-items: center;
        // justify-content: center;
         gap: 30px;
         width: var(--width-page);
         padding-bottom: 94px;
         padding-left: 15px;
         padding-right: 15px;
         @include margin-center;
        // margin-right: auto;
        // margin-left: auto;
        margin-top: 0px;
        margin-bottom: 0px;
     
         & .mark {
         position: relative;
         overflow: hidden;
         height: 294px;
         width: 100%;
         }
    }
}

.divdo {
    @media screen and (min-width: $desk) {
        position: absolute;
        left: 0;
        bottom: 0;
    
        height: 70px;
        width: 100%;
        /*(370px)*/
    
        background: rgba(47, 48, 58, 0.8);
    
        translate: 0 70px;
        transition: translate 250ms linear;
    }
}

.op:hover .divdo {
    @media screen and (min-width: $desk) {
        translate: 0 0;
    }
}