.section.members {
    @media screen and (max-width: $mob) {
        & .title.second {
            text-align: center;
            padding-top: 60px;

            font-family: 'Roboto';
            font-style: normal;
            @include font($fw: 700, $fs:28px, $lh:33px);
            // font-weight: 700;
            // font-size: 28px;
            // line-height: 33px;

            /* identical to box height */
            // letter-spacing: 0.03em;

            color: $title-color;
        }

        & .sm {
            background-color: $background-second-color;
            padding-bottom: 60px;
        }

        & .img-members {
            object-fit: cover;
            width: 100%;
            max-width: 450px;
            height: 460px;
        }
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        background: #F5F4FA;
        & .ms {
            display: flex;
            flex-direction: column;
        }
    
        & .title.second {
            /* есть "text-align:center" */
            padding-top: 60px;
            margin-bottom: 30px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;

            /* identical to box height */
            text-align: center;
            letter-spacing: 0.03em;

            color: $title-color;
        }
    
        & .third.container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            flex-basis: 50%;
            gap: 30px;
    
            @include margin-center;
           // margin-left: auto;
           // margin-right: auto;
            width: 768px;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 30px;
        }

        & .img-members {
            object-fit: cover;
            width: 354px;
            max-width: 450px;
            height: 374px;
        }
    }

    @media screen and (min-width: $desk) {
        background: #F5F4FA;
        & .ms {
            display: flex;
            flex-direction: column;
        }
    
        & .title.second {
            /* есть "text-align:center" */
            padding-top: 94px;
            margin-bottom: 50px;
        }
    
        & .third.container {
            display: flex;
            justify-content: center;
    
            @include margin-center;
           // margin-left: auto;
           // margin-right: auto;
            width: var(--width-page);
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

.mark.members {
    @media screen and (max-width: $mob) {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            @include margin-center;
            width: calc(100% - 30px); }
    
            & .title.name {
                margin-top: 30px;
                margin-bottom: 0px;

                font-family: 'Roboto';
                font-style: normal;
                @include font($fw: 500, $fs:16px, $lh:19px);
                // font-weight: 500;
                // font-size: 16px;
                // line-height: 19px;

                /* identical to box height */
                text-align: center;
                // letter-spacing: 0.03em;

                color: $title-color;
                }
            
            & .text.tmembers {
                margin-top: 10px;
                margin-bottom: 16px;

                font-family: 'Roboto';
                font-style: normal;
                @include font($fs:16px, $lh:19px);
               // font-weight: 400;
               // font-size: 16px;
               // line-height: 19px;

                /* identical to box height */
                text-align: center;
               // letter-spacing: 0.03em;

                color: $text-color;
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
        @include margin-center;
        width: 354px;
        & .title.name {
            margin-top: 30px;
            margin-bottom: 0px;

            font-family: 'Roboto';
            font-style: normal;
            @include font($fw: 500, $fs:16px, $lh:19px);
            // font-weight: 500;
            // font-size: 16px;
            // line-height: 19px;

            /* identical to box height */
            text-align: center;
            // letter-spacing: 0.03em;

            color: $title-color;
            }
        
        & .text.tmembers {
            margin-top: 10px;
            margin-bottom: 16px;

            font-family: 'Roboto';
            font-style: normal;
            @include font($fs:16px, $lh:19px);
           // font-weight: 400;
           // font-size: 16px;
           // line-height: 19px;

            /* identical to box height */
            text-align: center;
           // letter-spacing: 0.03em;

            color: $text-color; }
    }

    @media screen and (min-width: $desk) {
        display: inline-flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 94px;
    
        &+.mark.members {
        margin-left: 30px;
        }
    
        &.title.name {
        margin-top: 30px;
        margin-bottom: 0px;
        }
    
        &.text.tmembers {
        margin-top: 10px;
        margin-bottom: 16px;
        }
    }
}

.cont.contmemb {
    @media screen and (max-width: $mob) {
        @include center;
        flex-direction: row;
        gap: 10px;
        margin-top: 0px;
        margin-bottom: 24px;

    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         flex-direction: row;
         gap: 10px;
         margin-top: 0px;
         margin-bottom: 24px;
    }

    @media screen and (min-width: $desk) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         flex-direction: row;
         gap: 10px;
         margin-top: 0px;
         margin-bottom: 30px;
    }
}

.link.contmemb {
    @media screen and (max-width: $mob) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         transition: color linear 250ms, background-color linear 250ms;
     
         &:hover {
         background-color: var(--button-color);
         color: #ffffff;
         }
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         transition: color linear 250ms, background-color linear 250ms;
     
         &:hover {
         background-color: var(--button-color);
         color: #ffffff;
         }
    }

    @media screen and (min-width: $desk) {
        @include center;
        // display: flex;
        // justify-content: center;
        // align-items: center;
         height: 44px;
         width: 44px;
         border-radius: 50%;
         color: var(--icon-color);
         transition: color linear 250ms, background-color linear 250ms;
     
         &:hover {
         background-color: var(--button-color);
         color: #ffffff;
         }
    }
}

.icon.contmemb {
    height: 20px;
    width: 20px;
    fill: currentColor;
    transition: color linear 250ms;
}