.section.princips .second.container {

    @media screen and (max-width: $mob) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        flex-basis: 50%;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: $desk) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 94px;
    padding-bottom: 94px;
    padding-right: 15px;
    padding-left: 15px;

    @include margin-center;
   // margin-left: auto;
   // margin-right: auto;

    column-gap: 30px;
    width: var(--width-page);
    }
}

.second.container {
    @include margin-center;

    @media screen and (max-width: $mob) {
        margin-right: 15px;
        margin-left: 15px;    

        & .mark {
            width: 100%;
            @include margin-center;
            }
        
            & .text.description {
            margin-top: 10px;
            margin-bottom: 30px;

            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            
            /* or 171% */
            letter-spacing: 0.03em;
            
            color: $text-color;
            }
        
            & .mark::before {
            display: block;
            height: 120px;
            background-color: #F5F4FA;
            content: "";
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 4px;
            }
        
            & .mark.icon-one::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/antenna\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/antenna\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/antenna\ 1@3x.png);
                }

            background-position: center;
            }
        
            & .mark.icon-two::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/clock\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/clock\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/clock\ 1@3x.png);
                }
            }
        
            & .mark.icon-three::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/diagram\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/diagram\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/diagram\ 1@3x.png);
                }
            }
        
            & .mark.icon-four::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/astronaut\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/astronaut\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/astronaut\ 1@3x.png);
                }
            }
    }

    @media screen and (min-width: $tab) and (max-width: 1199px) {
            width: 768px;
        & .mark {
            width: 354px;
            }
        
            & .text.description {
            margin-top: 10px;
            margin-bottom: 0px;
            
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;

            /* or 171% */
            letter-spacing: 0.03em;

            color: $text-color;
            }
        
            & .mark::before {
            display: block;
            height: 120px;
            background-color: #F5F4FA;
            content: "";
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 4px;
            }
        
            & .mark:hover::before {
            background-color: var(--button-color);
            cursor: crosshair;
            }
        
            & .mark.icon-one::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/antenna\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/antenna\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/antenna\ 1@3x.png);
                }

            background-position: center;
            }
        
            & .mark.icon-two::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/clock\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/clock\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/clock\ 1@3x.png);
                }
            }
        
            & .mark.icon-three::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/diagram\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/diagram\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/diagram\ 1@3x.png);
                }
            }
        
            & .mark.icon-four::before {
             /*    background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/astronaut\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/astronaut\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/astronaut\ 1@3x.png);
                } */


               background-position: center, 64% 36%, 51% 75%, 55% 66%, 40% 40%;
                background-size: 55px, 5%, 2%, 3%, 2%;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/Group.png), url(../../img/png/Star.png), url(../../img/png/Star.png), url(../../img/png/Star.png), url(../../img/png/Star.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/Group@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/Group@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png);
                } 
            }
    }

    @media screen and (min-width: $desk) {
        & .mark {
            width: 270px;
            }
        
            & .text.description {
            margin-top: 10px;
            margin-bottom: 0px;
            }
        
            & .mark::before {
            display: block;
            height: 120px;
            background-color: #F5F4FA;
            content: "";
            margin-bottom: 30px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 4px;
            }
        
            & .mark:hover::before {
                background-color: var(--button-color);
                cursor: crosshair;
                }

            & .mark.icon-one::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/antenna\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/antenna\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/antenna\ 1@3x.png);
                }

            background-position: center;
            }
        
            & .mark.icon-two::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/clock\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/clock\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/clock\ 1@3x.png);
                }
            }
        
            & .mark.icon-three::before {
                background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/diagram\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/diagram\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/diagram\ 1@3x.png);
                }
            }
        
            & .mark.icon-four::before {
             /*    background-size: 70px;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/astronaut\ 1.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/astronaut\ 1@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/astronaut\ 1@3x.png);
                } */

               background-position: center, 64% 36%, 51% 75%, 55% 66%, 40% 40%;
                background-size: 55px, 5%, 3%, 2%, 2%;

                @media (min-device-pixel-ratio: 1), (min-resolution: 96dpi), (min-resolution: 1dppx) {
                    background-image: url(../../img/png/Group.png), url(../../img/png/Star.png), url(../../img/png/Star.png), url(../../img/png/Star.png), url(../../img/png/Star.png);
                }
    
                @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
                    background-image: url(../../img/png/Group@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png), url(../../img/png/Star@2x.png);
                }
    
                @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
                    background-image: url(../../img/png/Group@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png), url(../../img/png/Star@3x.png);
                } 
            }
    }
}
