@mixin font($fw: 500, $fs: 14px, $lh, $ls: 0.03em) {
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin margin-center {
    margin-left: auto;
    margin-right: auto;
}

@mixin font-famstyl {
    font-family: 'Roboto';
    font-style: normal;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}