/* ПЕРЕМЕННЫЕ CSS */

:root {
    --body-color: #272727;
    --button-color: #8a8a8a;
    --focus-color:  #aa0000;
    --link-color: #81d5eb; // #6cc6dc or #9ddbeb;
    --select-color: #4da745;
    --hover-color: #fe3e3e; // #3d3d3d; or #ce3030;
    --text-color: #e2dada;
    --first-color: #818eff;
    --second-color: #eaed24;
    --title-color: #98bc77;

    --primary-color: #b6c6ff;
    --secondary-color: #070707;

	--width-block: 340px;
	--height-block: 190px; // 170px;
  }

/* ПЕРЕМЕННЫЕ SASS */

$body-color: var(--body-color);
$button-color: var(--button-color);
$link-color: var(--link-color);
$focus-color: var(--focus-color);
$select-color: var(--select-color);
$hover-color: var(--hover-color);
$text-color: var(--text-color);
$first-color: var(--first-color);
$second-color: var(--second-color);
$title-color: var(--title-color);

$primary-color: var(--primary-color);
$secondary-color: var(--secondary-color);

$width-block: var(--width-block);
$height-block: var(--height-block);


// /* Если подключаем шрифт, то оставляем */
// @font-face {
//     font-family: "*название*"; /* Название шрифта */
//     font-style: normal;
//     font-weight: 400;
//     /* Браузер сначала попробует найти шрифт локально */
//     src: local("*название*"),
//          /* Если не получилось, загрузит TTF format("TTF") */
//          url("/fonts/*шрифт*.TTF"),
//          /* Если не получилось, вернёт всё в "Arial" локально */
//          local("Arial");
// }


/* СТИЛИ СТРАНИЦЫ */

body {
    background-color: var(--body-color);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    font-display: swap; /* use "swap" (better) or use "optional", also exist "fallback" (100ms waiting and hav'nt refresh), not use "auto" and "block". */

    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--text-color);
    cursor: default;
    user-select: none;
}

/*Маркер списка и сброс*/

.mark, li {
    list-style: none;
}

.none {
    display: none;
}

a {
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
}

p, h1, h2, h3, ul, li {
    padding: 0px;
    margin: 0px;
    cursor: default;
}

/*Основное содержание*/

@media screen and (max-width: 560px) { 
    .correct {
        height: 1560px;
    }
}

@media screen and (min-width: 561px) and (max-width: $mob) { 
    .correct {
        height: 1260px;
    }
}

@media screen and (min-width: $tab-st) { 
    .correct {
        height: auto;
    }
}

