$ao: auto;

$mob: 767px;
$tab-st: 768px;
$tab-en: 1099px;
$desk: 1100px;

$col-wh: #ffffff;
$col-bl: #000000;


// $pt: padding-top;
// $pr: padding-right;
// $pb: padding-bottom;
// $pl: padding-left;

// $mt: margin-top;
// $mr: margin-right;
// $mb: margin-bottom;
// $ml: margin-left;
